/* Your existing styles... */

.logo {
    margin-left: 50px;
  }
  
  .logo img {
    height: 90px;
  }
  
  .navbar {
    height: 90px;
    background-color: rgb(31, 30, 30);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    visibility: visible !important;
   
  }
  .name-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
  color: burlywood;;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    font-size: 30px;
}
  
  .list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-right: 40px;
    background-color: rgb(31, 30, 30);
  }
  
  .list a {
    color: white;
    text-decoration-line: none;
    font-size: large;
    font-weight: bold;
    transition: transform 0.3s; /* Add a smooth transition effect */
  }
  
  .list a:hover {
    color: burlywood;
    transform: scale(1.1); /* Scale the link on hover */
    font-size: 20px;
  }
  
  /* Media Query for Mobile Devices */
  @media only screen and (max-width: 600px) {
    .list {
      display: none;
      /* flex-direction: column; */
      position: absolute;
      top: 80px;
      left: 0;
      width: 100%;
      background-color: rgb(31, 30, 30);
    }
  
    .list a {
      padding: 10px;
      text-align: center;
      width: 100%;
      display: block;
      transition: transform 0.3s; /* Add a smooth transition effect */
    }
  
    .list.show {
      display: flex;
    }
  
    .list a:hover {
      transform: scale(1.1); /* Scale the link on hover in mobile menu */
    }
  
    /* Styles for the mobile menu button */
    .mobile-menu-button {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
  
    .mobile-menu-button span {
      height: 2px;
      width: 30px;
      background-color: white;
      margin: 6px 0;
    }
  }
 
  